[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flatten-dict = ">=0.3.0"
numpy = "*"

[dev-packages]
Sphinx = "==3.5.1"
black = "*"
featuretools = "*"
flake8 = "*"
isort = "*"
"keyrings.alt" = ">=3.4.0"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
recommonmark = "==0.7.1"
requests-mock = ">=1.8.0"
sphinx-autodoc-typehints = "==1.11.1"
sphinx-copybutton = "==0.3.1"
sphinx-rtd-theme = "==0.5.1"
twine = "*"
typed-ast = "==1.4.2"

[requires]
python_version = "3.7"

[scripts]
fmt = "black --line-length 120 src/"
install = "pip install pipelinex"
install_dev = "python setup.py develop"
lint = "black --check --diff --line-length 120 src/"
sort = "isort -rc src/"
vet = "mypy src/"

[pipenv]
allow_prereleases = true
