kedro<=0.17.7
pandas
matplotlib
seaborn
pandas-profiling
Pillow
torch
torch-vision 
pytorch-ignite
opencv-python
opencv-contrib-python
requests
httpx
mlflow
plotly
scikit-learn
scikit-image
memory_profiler
pynvml
flatten-dict
nested-lookup
